# Jupyter demo and Python introduction

## Markdown

Jupyter Notebooks can contain Markdown cells, like the one shown here. Markdown allows for simple text formatting like headings, italics, lists and more. For example:

### A header

This is regular text.

This has _italic_ text.

This has **bold** text.

Here is a numbered list:
1. First item
2. Second item

Here is a bullet point list:
- An item
- Another item

For more Markdown functionality, see this [Markdown cheat sheet](https://www.markdownguide.org/cheat-sheet/) - thus also demonstrating how to make links.

## Variables

A variable contains a value. In Python we work with for main data types:
- Integers: whole numbers, no decimals
- Floating point numbers: decimal numbers
- Strings: defined by surrounding quotation marks like `'string'`
- Boolean: `True` or `False`

In [1]:
# variables are defined with =, then you can do things with those variables
x = 1
y = 2
print(x + y)

3

In [2]:
a_string = 'this is some text in a string variable'

In [3]:
# In Jupyter notebooks, you can inspect variables by writing its name as the only or last thing in a cell
a_string

'this is some text in a string variable'

In [4]:
# Or you can print it, as you would in a Python script (a .py file)
print(a_string)

this is some text in a string variable

In [5]:
an_int = 2

In [6]:
an_int

2

In [7]:
a_true_bool = True
a_false_bool = False

In [8]:
a_float = 1.23

In [9]:
a_float

1.23

In [10]:
# Mathematical operations
print('Mathematical operations with 10 and 3.\n')
print('Addition:', 10 + 3)
print('Subtraction:', 10 - 3)
print('Multiplication:', 10 * 3)
print('Division:', 10 / 3)
print('To the power of:', 10 ** 3)
print('Integer division:', 10 // 3)
print('And the remainder (modulo):', 10 % 3)

Mathematical operations with 10 and 3.

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
To the power of: 1000
Integer division: 3
And the remainder (modulo): 1

## for loops

For loops lets you perform action repeatedly. For each iteration, the **loop variable** takes on a new value.

In [11]:
for i in range(10):
    print('In loop:', i)
    print('adding 2:', i + 2)
    print()

In loop: 0
adding 2: 2

In loop: 1
adding 2: 3

In loop: 2
adding 2: 4

In loop: 3
adding 2: 5

In loop: 4
adding 2: 6

In loop: 5
adding 2: 7

In loop: 6
adding 2: 8

In loop: 7
adding 2: 9

In loop: 8
adding 2: 10

In loop: 9
adding 2: 11

# If statements

If statements lets you control the flow of your program with various conditions that must be met.

In [12]:
temperature = -5

In [13]:
if temperature > 15:
    print('put on shorts')
elif 0 < temperature <= 15:
    print('put on pants')
elif temperature <= 0:
    print('put on ski pants')

put on ski pants

In [14]:
temperature = 5
it_rains = False

In [15]:
if temperature < 10 or it_rains:
    print('put on jacket')

put on jacket

You can use boolean operators to flip or chain boolean expressions. They are _and_, _or_ and _not_. Like this:

In [16]:
# Flipping the value of 'True'
not True

False

In [17]:
x = 1
y = 2

In [18]:
x > 0 and y > 0

True

In [19]:
x == 1 or y == 1

True

What is the difference here? **Order of operations**

In [20]:
# x == 1 is true, but is flipped by 'not'; yet, y == 2 is true, so the whole expression is true
not x == 1 or y == 2

True

In [21]:
# x == 1 is true and so is y == 2, so the expression in parentheses is true, but it is then flipped by 'not'. Parenthesized expressions come first. 
not (x == 1 or y == 2)

False