# Analysing text with ```spaCy```

There are a number of different NLP frameworks that you're likely to encounter. The most popular and widely-used of these are:

- ```NLTK``` (Natural Language Toolkit, old-school)
- ```UDPipe``` (Neural network based, fast and light, but not super accurate)
- ```CoreNLP``` and ```stanza``` (Created by the team at Stanford; academically robust)
- ```spaCy``` production-ready, well-documented, state-of-the-art

We'll be working with ```spaCy``` in this module, primarily because it's easy and intuitive, and also scales well. Even with an off-the-shelf solution from SpaCy, we can get quite a bit. See [SpaCy documentation about linguistic features](https://spacy.io/usage/linguistic-features) for more details.

First thing we need to do is install ```spaCy``` and the language model that we want to use.

From the command line, you should first make sure to run the setup script to install requirements with `./setup.sh`. Or run these commands yourself:
```bash
pip install spacy pandas
python -m spacy download en_core_web_md
```

## Initializing ```spaCy```

The first thing we need to do is import ```spaCy``` __and__ the language model that we want to use.

Note that, if you want to use different languages you want to use different language models.

In [28]:
# create a spacy NLP class
import spacy
nlp = spacy.load("en_core_web_md")

With the model now loaded, we can begin to do some very simple NLP tasks.

Here, we create a spaCy object and assign it to the variable ```nlp```. This is the NLP pipeline that will do all our heavy lifting, using the trained model we've specified.

Below, you can see what the pipeline does with a bit of sample text. Passing text to the nlp object gives us access to a bunch of properties, including tokens (words), parts of speech, named entities, and so on. Here's we two of them, tokens and entities. These objects, in turn, have certain methods attached to them. A full outline of available methods can be found in the spaCy docs.

In this case, for all token objects, let's return the token itself (```token.text```); its part-of-speech tag (```token.pos_```); and the grammatical dependency relations between the tokens (```token.dep_```).

In [29]:
# a single sentence example
input_string = "My name is Ross and I have family in New York City."

In [30]:
# create a new Doc object
doc = nlp(input_string)

In [31]:
print(doc)

My name is Ross and I have family in New York City.

## Tokens

In [32]:
# tokenizing text
for token in doc:
    print(token.text)

My
name
is
Ross
and
I
have
family
in
New
York
City
.

## Index, text and POS-tag

In [33]:
# find parts-of-speech
for token in doc:
    print(token.i, token.text, token.pos_)

0 My PRON
1 name NOUN
2 is AUX
3 Ross PROPN
4 and CCONJ
5 I PRON
6 have VERB
7 family NOUN
8 in ADP
9 New PROPN
10 York PROPN
11 City PROPN
12 . PUNCT

## NER labels
Extracting named entities from a ```spaCy``` doc requires an extra step, but nothing too challenging:

In [34]:
# extracting NERs
for ent in doc.ents:
    print(ent.text, ent.label_)

Ross PERSON
New York City GPE

## Count distribution of linguistic features

### Create doc object

In [35]:
# load a text file
import os
filename = os.path.join("..", "data", "au-history", "au-history.txt")
with open(filename, "r", encoding="utf-8") as file:
    text = file.read()

In [36]:
nlp = spacy.load("en_core_web_md")
# The text has been formatted (manually) with double line breaks between headers and paragraphs.
# One could also have done this with preprocessing if there had been many more documents!
# With the double line breaks, we tell spacy to split sentences on those.
nlp.add_pipe("sentencizer", config={"punct_chars": ["\n\n"]}, before="parser")

In [37]:
# create a doc object
doc = nlp(text)

In [38]:
for sent in doc.sents:
    print(sent.text)
    print('-' * 50)

History


--------------------------------------------------
AU will soon be celebrating its 100th anniversary. Since its foundation in 1928, the university has evolved from 78 students to approx. 38,000 students today.


--------------------------------------------------
1928
Establishment
After a long, persistent struggle and strong unity among the citizens of Aarhus, university education finally opened its doors.

‘
--------------------------------------------------
University Teaching in Jutland’ started up with 78 students in rented premises, where they were taught French, English, German, Danish and introductory philosophy.


--------------------------------------------------
1933
The first university building is inaugurated
On 11 September 1933, King Christian X inaugurated the first university building. The building was designed by Kay Fisker and C. F. Møller, and its design became the template for the buildings in the University Park.


--------------------------------------------------
In 1934, the grass surrounding the building was grazed by 20 sheep. However, this solution turned out to be less than ideal, because the sheep ate the shoots on the young oak trees and distracted the students by bleating. But the last straw was when a ram attacked its own mirror image in one of the building’s large windows.


--------------------------------------------------
1935-1942
The first faculties are established
Five faculties were established in the period 1935-1942: Humanities, Medicine, Economics, Law (later Social Sciences) and Theology.


--------------------------------------------------
1944
The new main building is erected – and occupied
During the German occupation of Denmark, the occupying forces took over residence halls 4 and 5. The buildings were used as the headquarters of the Gestapo.


--------------------------------------------------
On 31 October 1944, to aid of the Danish resistance, the British air force carried out an air strike on the residence hall. The attack was successful, but tragically, nine workers and the woman who ran the university shop lost their lives during the attack.


--------------------------------------------------
1965-1977


--------------------------------------------------
Growth


--------------------------------------------------
The student population at AU grew from 5,000 in 1965 to 15,000 in 1977.


--------------------------------------------------
The photo is from a lecture at the Department of Clinical Medicine.


--------------------------------------------------
1992


--------------------------------------------------
The Faculty of Health Sciences is established
In 1992, the Aarhus College of Dentistry merged with the Faculty of Medical Sciences and the faculty changed its name to the Faculty of Health Sciences.


--------------------------------------------------
1997
First Nobel Prize
Professor Jens Christian Skou received the Nobel Prize in Chemistry in 1997. In 2018, the Department of Biomedicine’s new state-of-the-art research facility is named after Jens Christian Skou.


--------------------------------------------------
2006-2007


--------------------------------------------------
New mergers


--------------------------------------------------
The Institute of Business and Technology in Herning (HIH), the Aarhus School of Business, the Danish Institute of Agricultural Sciences, the National Environmental Research Institute and the Danish University of Education (DPU) all merge with AU. The university now has about 34,000 students and 9,000 employees.


--------------------------------------------------
2010


--------------------------------------------------
Yet another Nobel Prize


--------------------------------------------------
Dale T. Mortensen, visiting professor at the Department of Economics and Business Economics, is awarded the Nobel Prize in Economic Sciences in 2010. The new Dale T. Mortensen Building, which houses the International Centre, is named after the Nobel Prize winner.


--------------------------------------------------
2011


--------------------------------------------------
From nine to four faculties


--------------------------------------------------
In 2011, AU undergoes a major reorganisation. The number of faculties is reduced from nine to four: Arts; Science and Technology; Health; and Business and Social Sciences.


--------------------------------------------------
2012


--------------------------------------------------
The Aarhus University School of Engineering merges with AU


--------------------------------------------------
After many years of close collaboration, the Aarhus University School of Engineering in Aarhus merged with AU, and is today housed in the Navitas building on the harbour.


--------------------------------------------------
2020


--------------------------------------------------
From four to five faculties


--------------------------------------------------
In January 2020, the Faculty of Science and Technology – AU’s largest – was split into two faculties: Technical Sciences and Natural Sciences.


--------------------------------------------------
2025


--------------------------------------------------
Aarhus University’s physical development


--------------------------------------------------
In 2019, the property management company Forskningsfondens Ejendomsselskab A/S acquired a large property (formerly the municipal hospital) adjacent to the University Park; AU is leasing these buildings from the property management company.


--------------------------------------------------
This expansion has given AU an opportunity to consolidate and strengthen a variety of degree programmes and research activities in downtown Aarhus, which will create a more closely integrated campus environment. The renovation of the property is underway, and is expected to be completed by 2025.
--------------------------------------------------

### Entities

In [39]:
# create empty list
entities = []

# add each entity to list
for ent in doc.ents:
    entities.append((ent.text, ent.label_))

In [40]:
print(set(entities))

{('the Nobel Prize in Economic Sciences', 'WORK_OF_ART'), ('The Faculty of Health Sciences', 'ORG'), ('2019', 'DATE'), ('nine', 'CARDINAL'), ('11 September 1933', 'DATE'), ('78', 'CARDINAL'), ('two', 'CARDINAL'), ('the Faculty of Health Sciences', 'ORG'), ('English', 'LANGUAGE'), ('2025', 'DATE'), ('2025', 'CARDINAL'), ('20', 'CARDINAL'), ('four to five', 'CARDINAL'), ('Gestapo', 'ORG'), ('Business and Social Sciences', 'ORG'), ('Dale T. Mortensen Building', 'PERSON'), ('Medicine, Economics, Law', 'ORG'), ('the Faculty of Medical Sciences', 'ORG'), ('Aarhus University’s', 'ORG'), ('Dale T. Mortensen', 'PERSON'), ('1933', 'DATE'), ('C. F. Møller', 'PERSON'), ('the Aarhus University School of Engineering', 'ORG'), ('French', 'LANGUAGE'), ('January 2020', 'DATE'), ('31 October 1944', 'DATE'), ('1977', 'DATE'), ('the International Centre', 'FAC'), ('the Danish University of Education', 'ORG'), ('the Danish Institute of Agricultural Sciences', 'ORG'), ('the Department of Economics and Business Economics', 'ORG'), ('the Aarhus School of Business', 'ORG'), ('Science and Technology', 'ORG'), ('9,000', 'CARDINAL'), ('Kay Fisker', 'PERSON'), ('nine to four', 'CARDINAL'), ('Forskningsfondens Ejendomsselskab A/S', 'ORG'), ('15,000', 'CARDINAL'), ('5,000', 'CARDINAL'), ('the Department of Clinical Medicine', 'ORG'), ('German', 'NORP'), ('the University Park', 'LOC'), ('Technical Sciences', 'ORG'), ('another Nobel Prize', 'WORK_OF_ART'), ('the Nobel Prize in Chemistry', 'WORK_OF_ART'), ('Navitas', 'ORG'), ('many years', 'DATE'), ('today', 'DATE'), ('1935-1942', 'DATE'), ('First Nobel Prize', 'WORK_OF_ART'), ('1928', 'DATE'), ('1965-1977', 'DATE'), ('the National Environmental Research Institute', 'ORG'), ('1992', 'DATE'), ('King Christian X', 'NORP'), ('2020', 'DATE'), ('1997', 'DATE'), ('the Department of Biomedicine', 'ORG'), ('University Teaching in Jutland', 'ORG'), ('2011', 'DATE'), ('1934', 'DATE'), ('the Nobel Prize', 'WORK_OF_ART'), ('DPU', 'ORG'), ('first', 'ORDINAL'), ('Aarhus', 'NORP'), ('100th', 'ORDINAL'), ('Danish', 'NORP'), ('2012', 'DATE'), ('one', 'CARDINAL'), ('Jens Christian Skou', 'PERSON'), ('38,000', 'CARDINAL'), ('2006-2007', 'DATE'), ('2018', 'DATE'), ('Five', 'CARDINAL'), ('2010', 'DATE'), ('the Faculty of Science and Technology', 'ORG'), ('The Institute of Business and Technology', 'ORG'), ('the Aarhus College of Dentistry', 'ORG'), ('British', 'NORP'), ('Denmark', 'GPE'), ('1965', 'DATE'), ('4 and 5', 'DATE'), ('The Aarhus University School of Engineering', 'ORG'), ('about 34,000', 'CARDINAL')}

### Adjective frequency

In [41]:
# count number of adjectives
adjective_count = 0
for token in doc:
    if token.pos_ == "ADJ":
        adjective_count += 1

In [42]:
adjective_count

34

In [43]:
# find the relative frequency per 100 tokens
percent = (adjective_count/len(doc)) * 100

In [44]:
round(percent, 2)

4.27

## Creating neater outputs using ```pandas```

At the moment, all of our output from ```spaCy``` is in the form of lists. If we want to save these, it probably makes sense to have them saved in a more transferable format, such as CSV files or JSONs.

One very easy way to do this with Python is by using the dataframe library ```pandas```.

In [45]:
import pandas as pd

In [46]:
# create spaCy doc
# create a new Doc object
doc = nlp(input_string)

In [47]:
annotations = []
for token in doc:
    annotations.append((token.text, token.pos_))

In [48]:
annotations

[('My', 'PRON'),
 ('name', 'NOUN'),
 ('is', 'AUX'),
 ('Ross', 'PROPN'),
 ('and', 'CCONJ'),
 ('I', 'PRON'),
 ('have', 'VERB'),
 ('family', 'NOUN'),
 ('in', 'ADP'),
 ('New', 'PROPN'),
 ('York', 'PROPN'),
 ('City', 'PROPN'),
 ('.', 'PUNCT')]

In [49]:
# spaCy doc to pandas dataframe
data = pd.DataFrame(annotations, 
                    columns=["Token", "POS"])

In [50]:
data

     Token    POS
0       My   PRON
1     name   NOUN
2       is    AUX
3     Ross  PROPN
4      and  CCONJ
5        I   PRON
6     have   VERB
7   family   NOUN
8       in    ADP
9      New  PROPN
10    York  PROPN
11    City  PROPN
12       .  PUNCT

In [51]:
# save dataframe
output_path = os.path.join("..", "output", "annotations.csv")
os.makedirs(os.path.dirname(output_path), exist_ok=True)  # make if it does not exist
data.to_csv(output_path)